{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
        <div class="container text-center py-5 bg-light ">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <h2> Главная страница {{ app.user.email }}</h2>
                {% else %}
                        <h2>Добро пожаловать в интеллектуальную систему обучения рисованию!<br>
                                Войдите или зарегистрируйтесь!</h2>
                {% endif %}
        </div>
{% endblock %}
