{% extends 'base.html.twig' %}

{% block title %}Hello LearnerHomepageController!{% endblock %}

{% block body %}
<style>

</style>
<main>
    <div class="example-wrapper">
        <h2 class="fw-bold">Интеллектуальная система обучения рисованию </h2>
        <p> Выберете сложность курса:</p>

        <div class="bd-content ps-lg-4">
            <a type="button" class="btn btn-outline-success"
               href="{{ path('grouped_by_difficulty', {'difficultyLevel': "Лёгкий"}) }}">Лёгкий</a>
            <a type="button" class="btn btn-outline-warning"
               href="{{ path('grouped_by_difficulty', {'difficultyLevel': "Средий"}) }}">Средий</a>
            <a type="button" class="btn btn-outline-danger"
               href="{{ path('grouped_by_difficulty', {'difficultyLevel': "Сложный"}) }}">Сложный</a>
        </div>


    </div>
</main>

{% endblock %}
