{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="py-2">
        <button class="btn btn-lg btn-primary">{{ button_label|default('Сохранить') }}</button>
    </div>
{{ form_end(form) }}
