<form method="post" action="{{ path('lesson_stage_delete', {'id': lesson_stage.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить этап?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson_stage.id) }}">
    <button class="btn btn-outline-danger">Удалить</button>
</form>
